html {
    scroll-behavior: smooth;
}

main {
    background-color: #070707;
}

body {
    width: 100%;
    background-color: #070707;
}

header {
    height: 4em;
    padding-top: 1em;
    background-color: #070707;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.cabecalho__logo {
    max-width: 8em;
    transform: scale(1);
    transition: 350ms;
    border: none;
}

.cabecalho__logo:hover {
    transform: scale(1.1);
    transition: 350ms;
}

.cabecalho__titulo {
    color: white;
    font-family: "Montserrat";
}

.cabecalho__ul {
    display: flex;
    gap: 5em;    
}

.cabecalho__ul li {
    transform: scale(1);
    transition: 350ms;
    border: solid 1px white;
    padding: .4em;
    border-radius: 5px;
}

.cabecalho__ul li:hover {
    transform: scale(1.1);
    transition: 350ms;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2em;
    transition: 200ms;
}

.cabecalho a:hover {
    color: rgb(168, 0, 0);
    text-shadow: 0 0 25px red;
    transition: 200ms;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: auto;
}

@keyframes animacaoShadow {
    0% {
        box-shadow: 0 0 10px 2px rgba(255, 197, 109, 0.05);
    }
    25% {
        box-shadow: 0 0 15px 4px rgba(255, 197, 109, 0.1);
    }
    50% {
        box-shadow: 0 0 20px 4px rgba(255, 197, 109, 0.15);
    }
    75% {
        box-shadow: 0 0 15px 4px rgba(255, 197, 109, 0.1);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(255, 197, 109, 0.05);
    }
}

video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    animation: animacaoShadow 5s infinite;
}

.overlay-button {
    position: absolute;
    bottom: 88%;
    left: 5%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.overlay-text {
    display: flex;
    gap: 2em;
    position: absolute;
    align-items: center;
    bottom: 10%; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 1.5em 28.3em;
    border-radius: 3px; /* Borda arredondada */
}

.overlay-text h2 {
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: white; /* Cor do texto */
}

.overlay-text i {
    font-size: 5em;
    color: red;
    transition: 500ms;
}

.overlay-text i:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 1.5s;
}

.equipe {
    padding-top: 4em;
    padding-bottom: 4em;
}

.equipe__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe__titulo h1 {
    color: white;
    font-family: Montserrat;
    font-size: 2.5em;
    padding-bottom: 1em;
}

.equipe__membros {
    display: flex;
    flex-direction: row;
    background-color: rgba(63, 44, 44, 0.247);
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1.5em;
    border-radius: 3px;
    padding-bottom: 1.5em;
}

.equipe__membros :nth-child(1) {
    transition-delay: 300ms;
}

.equipe__membros :nth-child(2) {
    transition-delay: 600ms;
}

.equipe__membros :nth-child(3) {
    transition-delay: 900ms;
}

.equipe__membro {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: .5em;
    background-color: rgb(240, 225, 225);
    margin-right: 1em;
    margin-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 5em;
    border-radius: 20px;
}

.equipe__imagem {
    max-width: 60%;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.61);
    margin-bottom: 1em;
}

.equipe__nome {
     color: black;
     font-family: Montserrat;
     font-size: 1.5em;
     text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.219);
}

.equipe__funcao {
    color: black;
    font-family: Montserrat;
    font-size: 1em;    
}